# =========================
# ROS 2 / colcon artifacts
# =========================
build/
install/
log/

jax_ws/build/
jax_ws/install/
jax_ws/log/

**/build/
**/install/
**/log/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Editor / OS junk
# =========================
.vscode/
*.swp
*.bak
.DS_Store
log/latest
